<!DOCTYPE html>
<html lang="en">
<head>

 <title>Draft</title>
 <!-- JQuery -->
  <script src="assets/javascripts/jquery-3.2.1.js"></script>
  <!--d3
  <script src="http://d3js.org/d3.v3.min.js"></script>
  -->
 <!-- Classes I made -->
 <script src="assets/javascripts/Player.js"></script>
  <script src="assets/javascripts/TeamSlot.js"></script>

 </head>

 <style>
  .pickrow {
   width: 100%;
   text-align: center;
 }
 .individualpick {
   width: 175px;
   height: 75px;
   display: inline-block;
 }
 </style>

 <body id="body">
  <div id="options"></div>
  <div id="undoredo"></div>
  <!-- Where all the team slots/info rectangles are attached -->
 <div id="teamDraftBoxes"></div>

</body>
</html>
<!-- This script calls the js. I use a different file to get the js highlighting. -->
<!-- This script calls the js. I use a different file to get the js highlighting. -->
 <script src="assets/javascripts/main.js"></script>
</script>